<header class="site-header">
  <link href='https://fonts.googleapis.com/css?family=Lobster|Roboto+Condensed' rel='stylesheet' type='text/css'>

  <div class="text">
    <nav class="site-nav">
      <ul>
        <li><a href ="{{ site.baseurl }}/index">Home</a></li>
        <li><a href ="{{ site.baseurl }}/index#portfolio">Portfolio</a></li>
        <li><a href ="{{ site.baseurl }}/about">About</a></li>
        <li><a href ="{{ site.baseurl }}/contact">Contact</a></li>
      </ul>
    </nav>
    <div class="background-video">
      <video autoplay loop muted class="background-video__video">
        <source src="{{ site.baseurl }}/assets/video/video2.mp4" type="video/mp4">
      </video>
    </div>


    <h1><span>Divya Sripadham</span></h1>
    <p class="kicker">Full Stack Web Developer</p>
    <ul>{% include icons.html %}</ul>

  </div>
</header>
